<template>
    <div class="wrapper bgd">
        <div class="container tac">
            <div class="signup">
                <h3>Sign Up</h3>
                <div class="signup-form">
                    <input
                            type="text"
                            placeholder="email"
                            class="signup-form-input"
                            v-model="email">
                    <input
                            type="password"
                            placeholder="password"
                            class="singnup-form-input"
                            v-model="password">
                    <button class="signin-forn-button" @click="signUp">Sign Up</button>
                </div>
                <p class="signup-text" @click="$router.push('/auth')">Already have an account? Sign in!</p>
                <br>
                <p>{{error.message}}</p>
                <p>{{message}}</p>
                <br>
            </div>
        </div>
    </div>
</template>

<script>
    import { firebaseApp } from '../../firebaseApp.js'

    export default {
        data() {
            return {
                email: '',
                password: '',
                error: {
                    message: ''
                },
                message: ''
            }
        },
        methods: {
            signUp() {
                var _this = this;
                this.message = '';
                this.error.message = '';
                firebaseApp.auth().createUserWithEmailAndPassword(this.email, this.password)
                    .then((firebaseUser) => {
                        this.message = 'Your account was successfully created!. Redirecting....';
                        setTimeout(function () {
                            _this.$router.push('/auth');
                        },2000);
                    })
                    .catch(error => {
                        this.error = error;
                    })
            }
        }
    }
</script>

<style lang="scss">
    .bgd {
        background-color: #232323;
    }
    .tac {
        text-align: center;
    }
    .signup {
        display: inline-block;
        height: 100vh;
        min-height:500px;
        background-color: #fff;
        width: 50%;
        h3 {
            margin-top:50px;
            font-size: 44px;
            font-family:Roboto;
        }
    }
    .signup-form {
        input {
            display: block;
            margin: 0 auto 20px auto;
            width: 66%;
            height: 50px;
            padding-left: 10px;
        }
        button {
            padding: 15px 10px;
            cursor: pointer;
        }
    }
    .signup-text {
        color: lightblue;
        cursor: pointer;
        &:hover {
            color: darkblue;
        }
    }

</style>