<template>
    <transition
            appear
            enterActiveClass="animated slideInLeft"
            leaveActiveClass="animated zoomOutRight">
        <div class="enquire-form clearfix" v-if="$store.state.enquireFormStatus">
            <div class="enquire-container">
                <div class="enquire-close-row">
                    <span class="enquire-close _hairline" @click="close"></span>
                </div>
                <form action="">
                    <div class="input-row input-name">
                        <label for="input-name"> name </label>
                        <input
                                type="text"
                                id="input-name"
                                v-model="customer.name"
                                @focus="focusName"
                                @blur="blurName">
                    </div>
                    <div class="input-row input-email required">
                        <label for="input-email"> email </label>
                        <input
                                type="text"
                                id="input-email"
                                required
                                @focus="focusEmail"
                                @blur="blurEmail"
                                v-model="customer.email">
                        <div class="enquire-err-mail"></div>
                    </div>
                    <div class="input-row input-skype">
                        <label for="input-skype"> skype </label>
                        <input
                                type="text"
                                id="input-skype"
                                v-model="customer.skype"
                                @focus="focusSkype"
                                @blur="blurSkype">
                    </div>
                    <div class="input-row input-comment required">
                        <label for="input-comment"> comment </label>
                        <textarea
                                id="input-comment"
                                required
                                rows="5"
                                v-model="customer.comment"
                                @focus="focusComment"
                                @blur="blurComment">

                    </textarea>
                        <div class="enquire-err-msg"></div>
                    </div>
                    <div class="input-button">
                        <button
                                id="input-button"
                                @click.prevent="submit">SEND</button>
                    </div>
                </form>
            </div>
        </div>
    </transition>
</template>

<script>
    import { valEmail } from '../../scripts/validationEmail.js';
    import { valComment } from '../../scripts/validationComment.js';
    export default {
        data() {
            return {
                customer: {
                    name: '',
                    email: '',
                    skype: '',
                    comment: ''
                },
                activeColor: '#990000',
                blurColor: '#000000'
            }
        },
        methods: {
            close() {
                this.$store.commit('closeEnquireForm')
            },
            submit() {
                if(valEmail(this.customer.email) && valComment(this.customer.comment)) {
                    this.resource.save({}, this.customer);
                    document.getElementById('input-button').innerText = 'SENT';
                }
                return false;
            },
            focusName() {
                document.getElementById('input-name').style.borderBottomColor = this.activeColor;
            },
            blurName() {
                document.getElementById('input-name').style.borderBottomColor = this.blurColor;
            },
            focusEmail(){
                document.getElementById('input-email').style.borderBottomColor = this.activeColor;
                document.getElementById('input-email').innerText = '';
            },
            blurEmail() {
                document.getElementById('input-email').style.borderBottomColor = this.blurColor;
                if (!valEmail(this.customer.email))
                    document.getElementById('input-email').style.borderBottomColor = this.activeColor;
            },
            focusSkype() {
                document.getElementById('input-skype').style.borderBottomColor = this.activeColor;
            },
            blurSkype() {
                document.getElementById('input-skype').style.borderBottomColor = this.blurColor;
            },
            focusComment() {
                document.getElementById('input-comment').style.borderBottomColor = this.activeColor;
            },
            blurComment() {
                document.getElementById('input-comment').style.borderBottomColor = this.blurColor;
                if (!valComment(this.customer.comment))
                    document.getElementById('input-comment').style.borderBottomColor = this.activeColor;
            }
        },
        created() {
            this.resource = this.$resource('orders.json');
        }
    }
</script>

<style lang="scss">
    @import '../../styles/general/variables.scss';

    .enquire-form {
        position: fixed;
        height: 100%;
        width:70%;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        z-index: 9999;
        background-color: white;
        /*display: none;*/
        overflow-y: auto;
        button {
            padding:15px 35px;
            border: 1px solid black;
            position: relative;
            color: black;
            background-color: transparent;
            margin:50px 0 25px 0;
            cursor: pointer;
        }
    }

    #input-button:after {
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #F03677;
        transform-origin:top;
        transition:height 0.25s ease;
        z-index:-1;
    }
    #input-button:hover:after,#input-button:active:after {
        height: 100%;
    }
    #input-button:hover,#input-button:active {
        color: white;
        cursor: pointer;
    }

    .enquire-container {
        width: 80%;
        margin: 0 auto;
        position: relative;
    }

    .enquire-close-row {
        display: block;
        text-align: right;
    }
    .enquire-close {
        margin-top: 25px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 50px;
        height: 50px;
        overflow: hidden;
        &:hover {
            &::before {
                transform: rotate(180deg);
            }
            &::after {
                transform: rotate(180deg);
            }
        }
        &::before, &::after {
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: #000;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        &._hairline {
            &::before, &::after {
                height: 1px;
            }
        }
    }
    .input-row {
        &:first-child {
            margin-top: 0;
        }
        margin-top:25px;
        position: relative;
        display: inline-block;
        border-bottom: 1px solid #d7d7d7;
        label {
            float: left;
            font-size: 16px;
            width: 150px;
            margin-top: 30px;
        }
        input,textarea {
            font-family:$text-font;
            border-radius: 0;
            font-weight:300;
            font-size: 30px;
            border-bottom: 1px solid black;
            height: 70px;
            outline: none;
            border-top: none;
            border-left:none;
            border-right: none;
            width: 440px;
            margin-bottom:-1px;
        }
        textarea {
            resize: vertical;
            height: 150px;
            margin-bottom:-4px;
        }
    }
    .enquire-err-mail,.enquire-err-msg {
        position: absolute;
        top: 50%;
        color: red;
        font-size:14px;
        line-height:inherit;
        right: 0;
        font-family:$text-font;
    }
    .enquire-err-msg {
        line-height:inherit;
        top: 20%;
    }
    @media screen and (max-width: 450px) {.enquire-form {
        width:100%;
    }

        .enquire-container {
            width: 80%;
            text-align: center;
        }
        .input-row {
            text-align: left;
            label {
                float: left;
                font-size: 14px;
                width: 70px;
            }
            input,textarea {
                width: 250px;
                font-size:20px;
            }
        }
    }
    @media screen and (max-width: 380px) {
        .enquire-form {
            width:100%;
        }

        .enquire-container {
            text-align: center;
            width: 80%;
        }
        .input-row {
            text-align: left;
            label {
                float: left;
                font-size: 14px;
                width: 70px;
            }
            input,textarea {
                width: 180px;
                font-size:14px;
            }
        }
    }
</style>