<template>
    <transition
        appear
        enterActiveClass="animated slideInLeft"
        leaveActiveClass="animated zoomOutRight">
    <div class="about full-page" id="About">
        <div class="container clearfix">
            <div class="about-image">
                <img src="" alt="image">
            </div>
            <div class="about-info">
                <h3>Introducing myself</h3>
                <h5>
                    Greetings! My name is Artem Kopytko, and I am a <strong>front-end developer</strong> based in Odessa, Ukraine. For over 2 years I've been working as a <strong>web</strong> and <strong>mobile developer</strong>  and since that time I've dealt with various projects from different areas of business.
                        <br> <br>
                    Accordingly to my hourly rate - I'm working fast and qualitatively. My first rule - is to finish the project before arranged deadline.
                    <br> <br>
                    Reasons to hire me:
                </h5>
                <ul>
                    <li>I am responsible performer</li>
                    <li>Starting without delay</li>
                    <li>I am able to work more than 30h/week</li>
                    <li>Full concentration on the task</li>
                    <li>Experienced in cPanel & hosting</li>
                    <li>Skillful in <strong>Front-End</strong></li>
                </ul>
            </div>
        </div>
    </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">
    @import '../../../styles/general/variables.scss';

    .about {
        &:before {
            content: '';
            display: inline-block;
            height: 0px;
            width: 0px;
        }
        background-color: #6600ff;
    }
    .about-image {
        margin-top: 80px;
        display: inline-block;
    }
    .about-info {
        margin-top: 80px;
        float: right;
        display: inline-block;
        width: 50%;
        letter-spacing: 1px;
        h3 {
            font-size:30px;
            line-height: 44px;
            font-family: $highlight-font;
            font-weight:300;
            color: white;
        }
        h5 {
            margin: 50px 0 0 0;
            width: 80%;
            line-height:26px;
            font-weight: 500;
            font-size: 16px;
            color: white;
            font-family:$text-font;
        }
        ul {
            color: white;
            font-family:$text-font;
            font-size:16px;
            line-height: 26px;
        }
    }
    @media screen and (max-width: 450px) {
        .about {
            height:auto;
        }
        .about-image {
            margin-top: 50px;
            display: block;
            height: auto;
        }
        .about-info {
            float: none;
            margin-top:50px;
            width: 100%;
            &:after {
                content: '';
                display: block;
                height: 75px;
            }
        }
    }
    @media screen and (max-width: 380px) {
        .about-info {
            h3 {
                font-size: 24px;
                line-height: 36px;
            }
        }
    }

</style>