<template>
    <div class="services full-page" id="Services">
        <div class="container clearfix">
            <div class="services-description article">
                <h4>Prices</h4>
                <h2><strong>High quality</strong> work for affordable price</h2>
                <h3>The question of price is one of essential. My prices are lightly above an average because of the high quality of produced websites.</h3>
            </div>
            <div class="services-prices">
                <h6>Now a couple words about pricing.</h6>
                <div class="service _row">
                    <h5><strong>promo</strong> sites starting at</h5>
                    <h3>
                        <i></i>
                        75$
                    </h3>
                </div>
                <div class="service _row">
                    <h5><strong>landing</strong> pages starting at</h5>
                    <h3>
                        <i></i>
                        159$
                    </h3>
                </div>
                <div class="service _row">
                    <h5><strong>corporate</strong> sites starting at</h5>
                    <h3>
                        <i></i>
                        399$
                    </h3>
                </div>
                <div class="service _row">
                    <h5>my hourly rate</h5>
                    <h3>
                        <i></i>
                        12$
                    </h3>
                </div>
                <div class="service _row">
                    <h5>
                        if you don't need <strong>responsive design</strong> - price is 25% lower
                        </h5>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">
    @import '../../../styles/general/variables.scss';

    .services {
        background-color: #311b92;
        text-align: center;
    }
    .services-prices {
        width: 66%;
        float: left;
        background-color: #fff;
        height:650px;
        display: inline-block;
        margin-top: 100px;
        h6 {
            text-align: center;
            color: #424242;
            font-family:$text-font;
            font-size:14px;
            line-height: 16px;
            font-weight:400;
            margin: 50px 0 0 0;
        }
    }
    .article {
        text-align: left;
        h4 {
            font-size:14px;
            line-height: 18px;
            margin: 0;
            letter-spacing:0.05em;
            color: white;
            font-family: $highlight-font;
            &:after {
                content: '';
                display: block;
                margin-top:10px;
                width: 40px;
                height: 1px;
                background-color: white;
            }
        }
        h2 {
            pointer-events: none;
            font-size:20px;
            line-height:24px;
            font-weight: 300;
            font-family:$highlight-font;
            color: white;
            margin: 35px 0 0 0;
        }
        h3 {
            margin: 40px 0 0 0;
            font-size: 16px;
            font-weight:300;
            font-family:$text-font;
            line-height:1.5;
            color: white;
            a {
                color: white;
                transition: all 0.4s;
                &:active,&:hover {
                    color: #F03677;
                    transition: all 0.4s;
                }
            }
        }
    }
    .service {
        width:80%;
        h5 {
            color: #424242;
        }
        h3 {
            pointer-events: none;
            color: #424242;
            i {
                height: 2px;
                background-color: crimson;
            }
        }
    }
    .services-description {
        width: 30%;
        float: right;
        display: inline-block;
        margin-top: 250px;
    }

    @media screen and (max-width: 450px) {
        .services {
            height: auto;
        }
        .services-description {
            float: none;
            width: 100%;
            margin-top: 50px;
        }
        .services-prices {
            width: 90%;
            float: none;
            margin-top: 20px;
        }
        .service {
            h5 {
                font-size: 14px;
                line-height:50px;
                margin: 0;
            }
            h3 {
                line-height: 50px;
                font-size: 25px;
                margin: 0 20px 0 30px;
            }
            &:last-child {
                h5 {
                    font-size:10px;
                }
            }
        }
    }
    @media screen and (max-width: 380px) {
        .service {
            h5 {
                font-size: 12px;
                line-height:50px;
                margin: 0;
            }
            h3 {
                line-height: 50px;
                font-size: 20px;
                margin: 0 0 0 20px;
            }
            &:last-child {
                h5 {
                    font-size:8px;
                }
            }
        }
    }
</style>