@import './variables.scss';

* {
  box-sizing: border-box;
}

body,html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //overflow-y: hidden;
}
.content {
  width: 100%;
  max-width: 100%;
  position: relative;
}

//.wrapper {
//  min-width: 1276px;
//}

.container {
  width: 1060px;
  margin: 0 auto;
  max-width: 95%;
  height:inherit;
  position: relative;
}
.header {
  background-color: #fff;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: auto;
  top: 0;
  //right: 0;
  left: 0;
  //margin: 0 auto;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
}

.header-desktop {
  height: 95px;
  position: relative;
  width: 100%;
  background-color: #fcfcfc;
}
.header-image {
  position: relative;
  text-align: center;
  background: -moz-linear-gradient( 90deg, rgb(255,95,95) 0%, rgb(255,76,76) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(255,95,95) 0%, rgb(255,76,76) 100%);
  background: -ms-linear-gradient( 90deg, rgb(255,95,95) 0%, rgb(255,76,76) 100%);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  display: inline-block;
  width: 280px;
  height: 100%;
  float: left;
  line-height: 95px;
  margin-left:100px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0.12;
    background-image: url('../../assets/header/header-image-shadow.png');
  }
  p {
    margin: 0;
    font-size: 50px;
    font-family:'AR-DESTINE';
    color: #ffffff;
  }
  span {
    color: #000000;
  }
}

.header-content {
  float: right;
  display: inline-block;
  width: 800px;
  height: 100%;
  position: relative;
}
.header-top {
  height: 40px;
  width: 100%;
  border-bottom:1px solid #e7e7e7;
}
.header-top-content {
  margin-left: 560px;
  line-height:40px;
  h5 {
    cursor: pointer;
    margin: 0;
    display: inline-block;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    transition: 0.4s all;
    color: #666666;
    &:hover,&:active {
      color: #ff5959;
      transition: 0.4s all;
    }
  }
  span {
    font-size: 12px;
    color: #666666;
  }
}
.header-bottom {
  height: 55px;
  position: relative;
}
.header-bottom-navigation {
  position: relative;
  display: inline-block;
  float: left;
  > ul {
    margin: 0;
    padding-left: 0;
    line-height: 55px;
    font-family:'Droid Sans', sans-serif;
    > li {
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      color: #4b4b4b;
      transition: 0.4s all;
      position: relative;
      margin-right:35px;
      height: 100%;
      &:last-child {
        &:hover {
          .header-bottom-nav-dropdown {
            display: block;
          }
        }
        &:after {
          position: absolute;
          top: 45%;
          right: -15px;
          height: 10px;
          width: 10px;
          -webkit-background-size:100%;
          background-size:100%;
          content: '';
          background-image: url('../../assets/intro/help_arrowcopy.png');
          background-position: center;
          background-repeat:no-repeat;
        }
      }
      &:hover {
        color: #ff5959;
        transition: 0.4s all;
        cursor: pointer;
        span {
          color: #ff5959;
          transition: 0.4s all;
        }
      }
    }
  }
}
.help-dropdown-toggler {
  position: relative;
  &:hover {
    .header-bottom-nav-dropdown {
      display: block;
    }
  }
  &:after {
    position: absolute;
    top: 45%;
    left: 130px;
    height: 15px;
    width: 15px;
    -webkit-background-size:100%;
    background-size:100%;
    content: '';
    background-image: url('../../assets/intro/help_arrowcopy.png');
    background-position: center;
    background-repeat:no-repeat;
  }
}
.header-bottom-nav-dropdown {
  display: none;
  width: 305px;
  height: 190px;
  position: absolute;
  bottom:-188px;
  right: -80px;
  background-color: #fff;
}
.dropdown-column {
  width: 50%;
  position: relative;
  float: left;
  &:first-child {
    border-right:1px solid #f2f2f2;
  }
  &:last-child {
   padding-left:15px;
  }
}
.help-dropdown {
  display: none;
  color: #c6c6c6;
  li {
    margin-left:5px;
    font-size: 18px !important;
  }
}
.dropdown-column-content {
  padding: 7px;
}
.dropdown-list {
  z-index: 10;
  padding-left: 0;
  list-style:none;
  > li {
    display: block;
    height: 15px;
    margin-right: 0;
    font-weight: 400;
    margin-top: 5px;
    font-size: 11px;
    font-family:'Droid Sans',sans-serif;
    color: #727272;
    transition: 0.4s all;
    &:hover {
      color: #ff5959;
      transition: 0.4s all;
      cursor: pointer;
    }
  }
}
.header-bottom-my-account {
  float: right;
  margin-right: 145px;
  line-height:55px;
  h5 {
    cursor: pointer;
    margin: 0;
    display: inline-block;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    color: #666666;
    transition: 0.4s all;
    &:hover,&:active {
      color: #ff5959;
      transition: 0.4s all;
    }
  }
}
.header-content-mobile-handler {
  background-color: #fff;
  position: relative;
  width: inherit;
  height: 60px;
  display: none;
}
.header-content-mobile-side {
  display: none;
  height: 100%;
  width: 80%;
  position: fixed;
  z-index:1;
  top: 0;
  left: 0;
  background-color: #3f3f3f;
  overflow-x: hidden;
  padding-top:30px;
  > ul {
    padding: 0;
    list-style: none;
  }
  li {
    display: block;
    font-size: 35px;
    font-family:'Droid Sans',sans-serif;
    font-weight: 300;
  }
  a {
    display: block;
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    position: relative;
    color: white;
    &:last-child {
      &:after {
        position: absolute;
        top: 45%;
        right:-15px;
        height: 10px;
        width: 10px;
        content: '';
        background-image: url('../../assets/intro/help_arrowcopy.png');
        background-position: center;
        background-repeat:no-repeat;
      }
    }
  }
}
.mobile-side-top {
  position: relative;
  height: 50px;
  p {
    margin: 0 0 0 10px;
    line-height: 50px;
    font-size: 18px;
    font-family:'AR-DESTINE';
    color: #ffffff;
    float: left;
    display: inline-block;
    span {
      color: #fe5252;
    }
  }
  h5 {
    float: right;
    line-height:50px;
    color: white;
    display: inline-block;
    font-family:'Droid Sans', sans-serif;
    font-size: 22px;
    margin: 0 10px 0 0;
  }
}
.sideHideButton {
  float: left;
  margin:-5px 0 0 10px;
  font-size: 30px;
  line-height: 50px;
  color: white;
  cursor: pointer;

}
.header-mobile-row {
  line-height:60px;
  padding-top:20px;
  display: block;
  width: 450px;
  height: 45px;
}
#nav-icon3{
  width: 45px;
  height: 45px;
  position: relative;
  margin-left: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #3f3f3f;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.intro {
  height: 670px;
  background-image: url('../../assets/intro/intro-bg.jpg');
  -webkit-background-size:cover;
  background-size:cover;
  text-align: center;
}
.intro-vouchers {
  display: inline-block;
  margin-top: 290px;
  height: 335px;
  position: relative;
  width: 585px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(163, 190, 224);
    opacity:0.25;
    border: 1px solid rgb(103, 152, 208);
  }
}
.red:before {
  background-color: transparent;
  border:1px solid #ff7171;
}
.yellow:before {
  background-color: transparent;
  border:1px solid #ffd978;
}
.green:before {
  background-color: transparent;
  border:1px solid #7cceb9;
}
.blue:before {
  background: rgb(163, 190, 224);
  border: 1px solid rgb(103, 152, 208);
  opacity: 0.25;
}
.intro-vouchers-inner {
  position: relative;
  display: inline-block;
  border: 1px solid #6798d0;
  border-top: none;
  width: 540px;
  height: 260px;
  margin:45px 25px 30px 25px;
  p {
    position: absolute;
    top: -13px;
    margin: 0 auto;
    width: 180px;
    left: 0;
    right: 0;
    font-size: 23px;
    font-family:'Swiss 721 BT', sans-serif;
    font-weight: bold;
    color: #6798d0;
    &:before,&:after {
      position: absolute;
      content: '';
      top: 50%;
      width: 165px;
      height: 1px;
      background-color: #6798d0;
    }
    &:before {
      left: -180px;
    }
    &:after {
      right: -180px;
    }
  }
  h2 {
    display: inline-block;
    margin: 65px 0 0 0;
    font-size: 33px;
    font-family:'Swiss 721 BT',sans-serif;
    color: #666666;
  }
  button {
    background: -moz-linear-gradient( 90deg, rgb(198,198,198) 0%, rgb(217,217,217) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(198,198,198) 0%, rgb(217,217,217) 100%);
    background: -ms-linear-gradient( 90deg, rgb(198,198,198) 0%, rgb(217,217,217) 100%);
    //margin-top: 45px;
    border-radius: 3px;
    margin: 0 auto;
    transition: 0.4s all;
    width: 130px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    //top:150px;
    bottom: 30px;
    border: none;
    font-family:'Droid Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    &:hover,&:active {
      transition: 0.4s all;
      background: -moz-linear-gradient( 90deg, rgb(254,82,82) 0%, rgb(255,128,128) 100%);
      background: -webkit-linear-gradient( 90deg, rgb(254,82,82) 0%, rgb(255,128,128) 100%);
      background: -ms-linear-gradient( 90deg, rgb(254,82,82) 0%, rgb(255,128,128) 100%);
    }
  }
}
.search{
  height: 125px;
  background-color: #fe5252;
  position: relative;
  text-align: center;
}
.search-box {
  display: inline-block;
  width: 950px;
  line-height:40px;
  height: 40px;
  margin-top: 45px;
}
.search-box-search,.search-box-dropdown,.search-box-text {
  height: 100%;
  width: 295px;
  display: inline-block;
  padding-left:15px;
  float: left;
  background-color: #fff;
  line-height: 40px;
  position: relative;
  font-family:'Droid Sans',sans-serif;
  font-size: 16px;
  color: #b3b3b3;
}
.search-box-search,.search-box-dropdown {
  border: none;
  border-right:1px solid #f2f2f2;
}
.search-box-dropdown,.search-box-text {
  p {
    margin: 0;
    text-align: left;
    float: left;
    &:after {
      content: '';
      height: 10px;
      width: 10px;
      top: 40%;
      right:15px;
      position: absolute;
      background-image: url('../../assets/intro/help_arrowcopy.png');
      background-position: center;
      background-repeat:no-repeat;
    }
  }
}
.search-box-icon {
  width: 55px;
  height: 100%;
  cursor: pointer;
  float: right;
  background-color: #fff;
  background-image: url('../../assets/intro/search-icon-2.jpg');
  -webkit-background-size:35px;
  background-size:35px;
  background-repeat:no-repeat;
  background-position: center;
}
.sign-up {
  height: 490px;
  background-color: #ffffff;
  text-align: center;
}
.sign-up-title {
  margin-top:35px;
  h3 {
    font-weight: 400;
    margin: 0;
    color: #3b4b55;
    b {
      color: #719fd3;
    }
  }
  h4 {
    margin-top: 20px;
    color: #8a8a8a;
  }
}

.sign-up-deals {
  margin-top: 30px;
  >ul {
    margin: 0;
    padding: 0;
    height: 205px;
    list-style: none;
    position: relative;
    >li {
      height: 100%;
      display: inline-block;
      width: 352px;
      border-right:1px solid #efefef;
      float: left;
      &:last-child {
        border: none;
      }
    }
  }
}
.deal-inner {
  width: 320px;
  margin: 0 auto;
  position: relative;
  >h3 {
    &:hover,&:active {
      background-color: #f0f0f0;
      transition: 0.4s all;
      color: #fe5252;
    }
    transition: 0.4s all;
    margin: 0;
    display: block;
    padding: 15px 0;
    font-size: 24px;
    font-family:'Droid Sans',sans-serif;
    color: #3e3e3e;
  }
  >ul {
    padding: 0;
    list-style: square inside;
    li {
      line-height:16px;
      margin-top:15px;
      &:first-child {
        margin-top:30px;
      }
      font-family:'Droid Sans',sans-serif;
      font-size: 12px;
      text-align: left;
      color: #8a8a8a;
    }
  }
}
.sign-up-get-more {
  margin-top: 40px;
  button {
    border: 0;
    border-bottom: 2px solid #0b6baa;
    background-color: #56b1ed;
    color: white;
  }
}
.earn-block {
  height: 395px;
  background-color: #56b1ed;
  text-align: center;
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 1100px;
    height: 100%;
    opacity:.05;
    background-image: url('../../assets/earn/Shape71.png');
    background-repeat:no-repeat;
  }
}
.earn-block-title {
  margin-top:20px;
  h3 {
    font-weight: 400;
    margin: 0;
    color: #fff;
    b {
      font-weight: 700;
      color: #fff;
    }
  }
  h4 {
    font-weight: 300;
    color: #fff;
  }
}
.earn-block-refer {
  >ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style:none;
    >li {
      display: inline-block;
      width: 50%;
      margin-top:15px;
      text-align: left;
      float: left;
      h3 {
        margin: 0;
        display: block;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Droid Sans', sans-serif;
        color: #fff;
      }
      ul {
        padding: 0;
        list-style: square inside;
        li {
          line-height: 16px;
          margin-top: 10px;
          &:first-child {
            margin-top: 15px;
          }
          font-family: 'Droid Sans', sans-serif;
          font-size: 12px;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}
.earn-block-get-more {
  margin-top:35px;
  button {
    color: white;
    background-color: transparent;
    border:1px solid white;
  }
}
.boost-business {
  height: 570px;
  position: relative;
  text-align: center;
  background: #f7f7f7;
  border-bottom: 2px solid #56b1ed;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: #fff;
    width: 50%;
    height: 100%;
  }
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 50%;
    height: 100%;
    background-image: url('../../assets/business/bg.png');
    -webkit-background-size:cover;
    background-size:cover;
    opacity:0.08;
    background-repeat:no-repeat;
  }
}
.boost-business-title {
  margin-top:35px;
  position: relative;
  h3 {
    font-weight: 400;
    margin: 0;
    color: #3b4b55;
    b {
      font-weight: 700;
      color: #56b1ed;
    }
  }
}
.boost-business-services {
  position: relative;
  >ul {
    position: relative;
    margin: 0px 0 0 0;
    padding: 0;
    text-align: center;
    list-style:none;
    >li {
      display: inline-block;
      width: 50%;
      margin-top:50px;
      min-height: 142px;
      text-align: left;
      float: left;
      h3 {
        position: relative;
        span {
          color: #3b4b55;
        }
        margin: 0;
        display: block;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Droid Sans', sans-serif;
        color: #56b1ed;
      }
      ul {
        padding: 0;
        list-style: square inside;
        li {
          line-height: 16px;
          margin-top: 10px;
          &:first-child {
            margin-top: 15px;
          }
          font-family: 'Droid Sans', sans-serif;
          font-size: 12px;
          text-align: left;
          color: #8a8a8a;
        }
      }
    }
  }
}
.boost-business-get-more {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  button {
    position: relative;
    border: 0;
    border-bottom: 2px solid #0b6baa;
    background-color: #56b1ed;
    color: white;
  }
}
.deals {
  height: 640px;
  text-align: center;
  position: relative;
}
.deals-title {
  position: relative;
  margin-top:90px;
  h3 {
    color: #fe5252;
    font-weight: 400;
    margin: 0;
  }
  b {
    font-weight: 700;
  }
}
.deals-list {
  position: relative;
  >ul {
    margin: 50px 0 0 0;
    padding: 0;
    list-style:none;
    >li {
      display: inline-block;
      width: 33.3333334%;
      border-right:1px solid #efefef;
      &:last-child {
        border: none;
      }
      height:190px;
      text-align: left;
      float: left;
      h3 {
        margin: 0;
        text-align: center;
        display: block;
        padding: 0 15px;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Droid Sans', sans-serif;
        color: #3f3f3f;
        span {
          font-weight:300;
          color: #fe5252;
          font-size: 18px;
        }
      }
      ul {
        padding: 0;
        list-style: square inside;
        li {
          padding: 0 15px;
          line-height: 16px;
          margin-top: 10px;
          &:first-child {
            margin-top: 15px;
          }
          font-family: 'Droid Sans', sans-serif;
          font-size: 12px;
          text-align: left;
          color: #8a8a8a;
        }
      }
    }
  }
}
.deals-free-vouchers {
  display: inline-block;
  margin-top: 15px;
  h3 {
    font-family:'Droid Sans',sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #3f3f3f;
    span {
      color: #fe5252;
    }
  }
  ul {
    padding: 0;
    list-style: square inside;
    li {
      padding: 0 15px;
      line-height: 16px;
      margin-top: 10px;
      &:first-child {
        margin-top: 15px;
      }
      font-family: 'Droid Sans', sans-serif;
      font-size: 12px;
      text-align: left;
      color: #8a8a8a;
    }
  }
}
.deals-get-more {
  margin-top:35px;
  button {
    color: white;
    font-size: 20px;
    background-color: #fe5252;
    border: 0;
    border-bottom:2px solid #bb1c1c;
  }
}
.footer {
  height: 55px;
  position: relative;
  background-color: #292929;
}
.footer-copyright {
  width: 280px;
  float: left;
  line-height:55px;
  font-family:'Droid Sans', sans-serif;
  p {
    margin: 0;
    font-size: 12px;
    color: #898989;
    span {
      color: #fe5858;
    }
  }
}
.footer-social {
  float: right;
  a {
    line-height: 55px;
    padding: 0 5px;
    display: inline-block;
    color: #5e5e5e;
    transition: 0.4s all;
    &:hover,&:active {
      color: #fe5252;
      transition: 0.4s all;
    }
  }
}
.footer-copyright-mob {
  display: none;
}
@media screen and (max-width: 450px) {
  .header-desktop {
    display: none;
  }
  .header-content-mobile-handler {
    display: block;
  }
  .intro-vouchers {
    width: 80%;
    margin-top:180px;
  }
  .intro-vouchers-inner {
    width: 90%;
    margin: 45px 10px 30px 10px;
    p {
      &:after {
        width: 45px;
        right: -58px;
      }
      &:before {
        width: 45px;
        left:-58px;
      }
    }
    h2 {
      margin-top:50px;
    }
    button {
      margin-top:115px;
    }
  }
  .voucher-main {
    max-width: 268px;
    white-space: pre-line;
    word-wrap:break-word;
  }
  .intro-vouchers-inner h2 {
    font-size:24px;
  }
  .search {
    height: auto;
    width: 100%;
  }
  .search-box {
    height: 220px;
    width: 100%;
    margin: 20px 0;
  }
  .search-box-text,.search-box-dropdown,.search-box-search {
    display: block;
    //padding-left: 0;
    width: 80%;
    margin: 10px auto;
    float: none;
    height: 40px;
  }
  .deal-inner {
    margin: 0;
    width: 100%;
  }
  .search-box-icon {
    float: none;
    display: block;
    height: 55px;
    width: 55px;
    margin: 10px auto;
  }
  .sign-up {
    height: auto;
  }
  .sign-up-deals {
    margin-top:0px;
    >ul {
      height:auto;
    }
    >ul>li {
      float: none;
      border-right:0;
      width: 80%;
      //margin-left: 30px;
    }
    h3 {
      padding: 10px 0;
    }
  }
  .sign-up-get-more {
    margin-top: 40px;
    button {
      font-size: 16px;
    }
    padding-bottom:25px;
  }
  ._title {
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size:17px;
    }
  }
  .deal-inner > ul li:first-child {
    margin-top: 10px;
  }
  .deal-inner > ul li:last-child {
    margin-bottom: 10px;
  }
  ._more-button {
    width: 70%;
  }
  .earn-block {
    height: auto;
  }
  .earn-block-refer {
    >ul >li {
      width: 80%;
      float: none;
      margin-top: 25px;
    }
  }
  .earn-block-get-more {
    button {
      font-size: 16px;
    }
    padding-bottom: 25px;
  }
  .boost-business {
    height: auto;
  }
  .boost-business-services > ul > li {
    width: 80%;
    margin-top: 25px;
    float: none;
  }
  ._pdl {
    padding-left: 0;
    padding-bottom: 75px;
  }
  .deals {
    height: auto;
  }
  .deals-list {
    > ul {
      margin-top:25px;
      >li {
        margin-top: 15px;
        width: 80%;
        float: none;
        border-right: none;
        height: auto;
      }
    }
  }
  .deals-get-more {
    button {
      font-size: 16px;
    }
    padding-bottom: 25px;
  }
  .footer {
    height: auto;
  }
  .footer-copyright {
    display: none;
    float: none;
    clear: both;
  }
  .footer-social {
    width: 100%;
    text-align: center;
    a {
      font-size: 26px;
      padding: 20px;
    }
  }
  .footer-copyright-mob {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height:55px;
    font-family:'Droid Sans', sans-serif;
    p {
      margin: 0;
      font-size: 12px;
      color: #898989;
      span {
        color: #fe5858;
      }
    }
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .header-content-mobile-side {
    li {
      font-size: 30px;
    }
    a {
      padding: 10px 40px 10px 40px;
    }
  }
  .intro-vouchers {
    margin-top: 120px;
  }
  .intro {
    height: 600px;
  }
  .deal-inner {
    margin-left: 0;
    width: 100%;
  }
  .sign-up-deals {
    >ul>li {
      width: 80%;
      float: none;
      margin-left: 0px;
    }
    h3 {
      padding: 10px 0;
    }
  }
  .sign-up-get-more {
    margin-top: 25px;
    button {
      font-size: 16px;
    }
    padding-bottom:25px;
  }
  .deal-inner > ul li:first-child {
    margin-top: 10px;
  }
  .deal-inner > ul li:last-child {
    margin-bottom: 10px;
  }
  ._more-button {
    width: 70%;
  }
  .footer-social {
    width: 100%;
    text-align: center;
    a {
      font-size: 24px;
      padding: 16px;
    }
  }
  .footer-copyright-mob {
    p {
      font-size: 10px;
    }
  }
}
@media screen and (max-width: 375px){
  .intro-vouchers-inner p:before {
    width: 29px;
    left: -43px;
  }
  .intro-vouchers-inner p:after {
    width: 30px;
    right: -45px;
  }
}
@media screen and (max-width: 360px){
  .intro-vouchers-inner p:before {
    width: 25px;
    left: -40px;
  }
  .intro-vouchers-inner p:after {
    width: 25px;
    right: -40px;
  }
}
@media screen and (max-width: 320px){
.intro-vouchers-inner p:before {
  width: 19px;
  left: -25px;
  }
  .intro-vouchers-inner p:after {
    width: 19px;
    right: -25px;
  }
}

