._title {
  display: inline-block;
  font-family:'Source Sans Pro', sans-serif;
  h3 {
    margin: 0;
    font-size: 46px;
  }
  h4 {
    margin: 0;
    font-size:27px;
  }
}
._more-button {
  width: 410px;
  height: 60px;
  cursor: pointer;
  font-family:'Droid Sans',sans-serif;
  font-size: 24px;
}
._fln {
  float: none !important;
}
._tac {
  text-align: center !important;
}
._pdl {
  padding-left:115px;
}

._upper {
  text-transform: uppercase;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@font-face {
  font-family: 'AR-DESTINE';
  src:url('../fonts/webfonts_AR-DESTINE/AR-DESTINE.ttf.woff') format('woff'),
  url('../fonts/webfonts_AR-DESTINE/AR-DESTINE.ttf.svg#AR-DESTINE') format('svg'),
  url('../fonts/webfonts_AR-DESTINE/AR-DESTINE.ttf.eot'),
  url('../fonts/webfonts_AR-DESTINE/AR-DESTINE.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Swiss 721 BT';
  font-style: normal;
  font-weight: normal;
  src: local('Swiss 721 BT'), url('../fonts/swis721-bt/Swiss 721 BT.woff') format('woff');
}
/*

Installing Webfonts

1. Upload the files from this zip to your domain.
2. Add this code to your website:

@font-face {
    font-family: 'AR-DESTINE';
    src:url('AR-DESTINE.ttf.woff') format('woff'),
        url('AR-DESTINE.ttf.svg#AR-DESTINE') format('svg'),
        url('AR-DESTINE.ttf.eot'),
        url('AR-DESTINE.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
3. Integrate the fonts into your CSS:
Add the font name to your CSS styles. For example:

h1 {
   font-family: 'AR-DESTINE';
}

Troubleshooting Webfonts
1. You may be using the fonts on different domain or subdomain.
2. Check if you have link the fonts properly in the CSS.
*/