<template>
    <div class="wrapper">
        <app-projectsGrid></app-projectsGrid>
        <app-enquireForm></app-enquireForm>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import ProjectsGrid from './ProjectsGrid.vue';
    import EnquireForm from '../EnquireForm/EnquireForm.vue';
    import Footer from '../Footer/Footer.vue';
    export default {
        data() {
            return {

            }
        },
        components: {
            appProjectsGrid: ProjectsGrid,
            appEnquireForm: EnquireForm,
            appFooter: Footer
        }
    }
</script>

<style scoped lang="scss">

</style>