<template>
    <div class="full-page portfolio" id="Portfolio">
        <div class="container">
            <div class="portfolio-projects-filter">
                <div class="filters">
                    <button id="All" v-bind:class="{_active: all}" @click="applyFilter('all')">All</button>
                    <button id="Landing" :class="{_active: landing}" @click="applyFilter('landing')">Landing</button>
                    <button id="Corporate" :class="{_active: corporate}" @click="applyFilter('corporate')">Corporate</button>
                    <button id="Promo" :class="{_active: promo}" @click="applyFilter('promo')">Promo</button>
                    <button id="SEO" :class="{_active: seo}" @click="applyFilter('seo')">Seo</button>
                    <button id="Optimization" :class="{_active: optimization}" @click="applyFilter('optimization')">Optimization</button>
                </div>
            </div>
            <div class="portfolio-projects clearfix">
                <transition
                    appear
                    enterActiveClass="animated zoomIn"
                    leaveActiveClass="animated zoomOut _posa">
                    <div class="portfolio-project _landing _optimization" v-if="landing || optimization || all">
                        <figure class="imghvr-flip-vert">
                            <img src="../../assets/works/portfolio_first.jpg" alt="Portfolio work 'Golden'">
                            <figcaption>
                                <h3>Golden</h3>
                                <p>
                                    <i>"Golden is a landing page for young web designers."</i>
                                </p>
                                <a href="/projects/golden/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                            </figcaption>
                        </figure>
                    </div>
                </transition>
                <transition
                    appear
                    enterActiveClass="animated zoomIn"
                    leaveActiveClass="animated zoomOut _posa">
                    <div class="portfolio-project _corporate _seo" v-if="corporate || seo || all">
                        <figure class="imghvr-flip-vert">
                            <img src="../../assets/works/portfolio_second.jpg" alt="Portfolio work 'Surfing'">
                            <figcaption>
                                <h3>Surfing</h3>
                                <p>
                                    <i>"Surfing is a corporate website for a surfers club in the US."</i>
                                </p>
                                <a href="/projects/surfing/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                            </figcaption>
                        </figure>
                    </div>
                </transition>
                <transition
                    appear
                    enterActiveClass="animated zoomIn"
                    leaveActiveClass="animated zoomOut _posa">
                    <div class="portfolio-project _corporate" v-if="corporate || all">
                        <figure class="imghvr-flip-vert">
                            <img src="../../assets/works/portfolio_third.jpg" alt="Portfolio work 'Bakery'">
                            <figcaption>
                                <h3>Bakery</h3>
                                <p>
                                    <i>"Bakery is a corporate website for a bakery-cafe."</i>
                                </p>
                                <a href="/projects/bakery/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                            </figcaption>
                        </figure>
                    </div>
                </transition>
                <transition
                        appear
                        enterActiveClass="animated zoomIn"
                        leaveActiveClass="animated zoomOut _posa">
                    <div class="portfolio-project _landing _optimization" v-if="landing|| optimization || all">
                        <figure class="imghvr-flip-vert">
                            <img src="../../assets/works/portfolio_fourth.jpg" alt="Portfolio work 'Alumhouse'">
                            <figcaption>
                                <h3>Alumhouse</h3>
                                <p>
                                    <i>"Alumhouse is a landing page website for alumhose.ru."</i>
                                </p>
                                <a href="/projects/alumhouse/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                            </figcaption>
                        </figure>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                all: true,
                landing: false,
                corporate: false,
                promo: false,
                seo: false,
                optimization: false
            }
        },
        methods: {
            applyFilter(type){
                this.all = false;
                this.landing = false;
                this.corporate = false;
                this.promo = false;
                this.seo = false;
                this.optimization = false;
                switch (type) {
                    case 'all': this.all = true; break;
                    case 'landing': this.landing = true; break;
                    case 'promo': this.promo = true; break;
                    case 'corporate': this.corporate = true; break;
                    case 'seo': this.seo = true; break;
                    case 'optimization': this.optimization = true; break;
                    default:
                        return;
                        break;
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/general/variables.scss';
    @import '../../styles/general/imagehover.min.css';
    @import '../../styles/general/hoverEffect.scss';
    ._posa {
        position: absolute;
    }
    .portfolio {
        background-color: white;
        &:before {
            content: '';
            display: inline-block;
        }
        margin-top:100px;
        height: auto;
        min-height: 750px;
    }

    .portfolio-projects-filter {
        margin-top:10px;
        text-align: center;
        button {
            border: none;
            outline: none;
            cursor: pointer;
            margin: 0 20px 0 0;
            font-size:18px;
            line-height:24px;
            background-color: transparent;
            color: #a3aaaa;
            &:hover,&:active {
                color: #212121;
                transition: all 0.5s;
                text-decoration: underline;
            }
        }
        button._active {
            text-decoration: underline;
            color: #212121;
        }
    }
    .portfolio-projects {
        margin-top: 25px;
        padding-bottom: 15px;
    }

    .portfolio-project {
        margin-top: 25px;
        display: inline-block;
        width: 33.33333333%;
        max-height: 290px;
        float: left;
        img {
            max-width:100%;
            max-height:290px;
        }
    }
    @media screen and (max-width: 450px) {
        .portfolio {
            margin-top:80px;
        }

        .portfolio-projects-filter {
            margin-top:15px;
            text-align: center;
            button {
                margin: 0 20px 0 0;
                font-size:24px;
                line-height:30px;
            }
        }
        .portfolio-projects {
            margin-top: 15px;
        }

        .portfolio-project {
            margin-top: 10px;
            display: inline-block;
            width: 50%;
            max-height: 150px;
            float: left;
            img {
                max-width:100%;
                max-height:150px;
            }
        }

        [class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption {
            padding: 10px;
            overflow: hidden;
            h3 {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size:16px;
            }
            p {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size:14px;
            }
        }
    }
    @media screen and (max-width: 380px) {
        .portfolio-projects-filter {
            margin-top:0;
            text-align: center;
            button {
                margin: 0 20px 0 0;
                font-size:24px;
                line-height:30px;
            }
        }

        .portfolio-project {
            margin-top: 10px;
            width: 100%;
            float: none;
            max-width:330px;
            max-height: 220px;
            img {
                max-width:300px;
                max-height:210px;
            }
        }
        .portfolio-projects {
            text-align: center;
            margin-top: 15px;
        }

        [class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption {
            padding: 15px;
            h3 {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size:26px;
            }
            p {
                margin-top: 5px;
                margin-bottom: 0;
                font-size:18px;
            }
        }
    }
</style>