<template>
    <div class="blog-header">
        <div class="container">
            <div class="blog-header-navigation">
                <div class="blog-header-row">
                    ul>li*
                </div>
            </div>
        </div>
    </div>
</template>