<template>
    <transition
            appear
            enterActiveClass="animated slideInLeft"
            leaveActiveClass="animated zoomOutRight">

    <div class="contact" id="Contact">
        <div class="container clearfix">
            <div class="contact-content">
                <p>Let's take your <strong>website</strong> to the next level</p>
                <ul>
                    <li>
                        <div class="contact-item _row">
                            <h5>make a call</h5>
                            <h3>
                                <i></i>
                                <a href="tel:+380689081912">
                                    +38 068 908 19 12
                                    </a>
                            </h3>
                        </div>
                    </li>
                    <li>
                        <div class="contact-item _row">
                            <h5>or</h5>
                            <h3 @click="revealEnquireForm()">
                                <i></i>
                                ENQUIRE
                            </h3>
                            <h5>online</h5>
                        </div>
                    </li>
                    <li>
                        <div class="contact-item _row">
                            <h5>discover</h5>
                            <h3 class="contact_hoverable">
                                <i></i>
                                <a href="https://artemkopytko.com/blog">MY BLOG</a>
                            </h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods: {
            revealEnquireForm(){
                this.$store.commit('revealEnquireForm')
            }
        }
    }

</script>

<style scoped lang="scss">
    @import '../../../styles/general/variables.scss';

    .contact {
        background-color: #4a148c;
        padding-bottom:50px;
    }

    .contact-content {
        display: inline-block;
        p {
            position: absolute;
            left: 0;
            top: 30px;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            white-space: nowrap;
            font-family: $text-font;
            font-weight:700;
        }
        >ul {
            margin: 50px 0 0 75px;
            padding: 0;
            list-style: none;
            li {
                margin-top: 10px;
                display: block;
            }
        }
        .contact-item {
            display: inline-block;
            width: auto;
            a {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }
            h5 {
                padding-left:15px;
            }
            h3.contact_hoverable {
                cursor: pointer;
            }
            i {
                color: white;
            }
            h3:after {
                position: absolute;
                content: '';
                top:0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: #F03677;
                transform-origin:left;
                transition:width 0.25s ease;
                z-index:-1;
            }
            h3:hover:after,h3:active:after {
                width: 100%;
            }
            h3:hover,h3:active {
                cursor: pointer;
                i {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 450px) {
        .contact {
            height: auto;
        }
        .contact {
            ul {
                margin: 50px 0 0 50px;
            }
            .contact-item {
                &:first-child {
                    h3 {
                        margin: 0 0 0 20px;
                    }
                }
                h5 {
                    font-size: 14px;
                    line-height: 50px;
                    margin: 0;
                }
                h3 {
                    line-height: 50px;
                    font-size: 25px;
                    margin: 0 20px 0 30px;
                }
            }
        }
    }
    @media screen and (max-width: 380px) {
        .contact {
            ul {
                margin: 50px 0 0 50px;
            }
            .contact-item {
                &:first-child {
                    h3 {
                        margin: 0 0 0 20px;
                    }
                }
                h5 {
                    font-size: 14px;
                    line-height:50px;
                    margin: 0;
                }
                h3 {
                    line-height: 50px;
                    font-size: 25px;
                    margin: 0 20px 0 30px;
                }
            }
        }
    }
</style>