<template>
    <div class="portfolio full-page" id="Portfolio">
        <div class="container clearfix">
            <div class="portfolio-description article">
                <h4>Portfolio</h4>
                <h2>Let's take a look on my recent projects</h2>
                <h3>Portfolio is being one of the most important criterion to hire a <strong>freelancer</strong>.
                        Nothing but portfolio shows the actual developers skill.
                        <router-link to="/portfolio"><a>All projects.</a></router-link></h3>
            </div>
            <div class="portfolio-works">
                <div class="portfolio-works-filter">
                    <h6>Here are some of my latest works:</h6>
                    <div class="filters">
                        <button id="All" :class="{_active: all}" @click="applyFilter('all')">All</button>
                        <button id="Landing" :class="{_active: landing}" @click="applyFilter('landing')">Landing</button>
                        <button id="Corporate" :class="{_active: corporate}" @click="applyFilter('corporate')">Corporate</button>
                        <button id="Promo" :class="{_active: promo}" @click="applyFilter('promo')">Promo</button>
                    </div>
                </div>
                <div class="works clearfix">
                    <transition
                            appear
                            enterActiveClass="animated zoomIn"
                            leaveActiveClass="animated zoomOut _posa">
                    <div class="work-block _landing" v-if="all || landing">
                        <figure class="imghvr-flip-vert">
                            <img src="../../../assets/works/portfolio_first.jpg" alt="Portfolio work 'Golden'">
                            <figcaption>
                                <h3>Golden</h3>
                                <p>
                                    <i>"Golden is a landing page for young web designers."</i>
                                </p>
                                <a href="/projects/golden/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                            </figcaption>
                        </figure>
                    </div>
                    </transition>
                    <transition
                            appear
                            enterActiveClass="animated zoomIn"
                            leaveActiveClass="animated zoomOut _posa">
                    <div class="work-block _corporate" v-if="all || corporate">
                        <figure class="imghvr-flip-vert">
                            <img src="../../../assets/works/portfolio_second.jpg" alt="Portfolio work 'Surfing'">
                            <figcaption>
                                <h3>Surfing</h3>
                                <p>
                                    <i>"Surfing is a corporate website for a surfers club in the US."</i>
                                </p>
                                <a href="/projects/surfing/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                            </figcaption>
                        </figure>
                    </div>
                    </transition>
                    <transition
                            appear
                            enterActiveClass="animated zoomIn"
                            leaveActiveClass="animated zoomOut _posa">
                    <div class="work-block _corporate" v-if="all || corporate">
                        <figure class="imghvr-flip-vert">
                            <img src="../../../assets/works/portfolio_third.jpg" alt="Portfolio work 'Bakery'">
                            <figcaption>
                                <h3>Bakery</h3>
                                <p>
                                    <i>"Bakery is a corporate website for a bakery-cafe."</i>
                                </p>
                                <a href="/projects/bakery/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                            </figcaption>
                        </figure>
                    </div>
                    </transition>
                    <transition
                            appear
                            enterActiveClass="animated zoomIn"
                            leaveActiveClass="animated zoomOut _posa">
                        <div class="work-block _landing _optimization" v-if="landing || all">
                            <figure class="imghvr-flip-vert">
                                <img src="../../../assets/works/portfolio_fourth.jpg" alt="Portfolio work 'Alumhouse'">
                                <figcaption>
                                    <h3>Alumhouse</h3>
                                    <p>
                                        <i>"Alumhouse is a landing page website for alumhose.ru."</i>
                                    </p>
                                    <a href="/projects/alumhouse/" class="ih-fade-up ih-delay-lg button">Inspect</a>
                                </figcaption>
                            </figure>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                all: true,
                landing: false,
                corporate: false,
                promo: false,
            }
        },
        methods: {
            applyFilter(type){
                this.all = false;
                this.landing = false;
                this.corporate = false;
                this.promo = false;
                switch (type) {
                    case 'all': this.all = true; break;
                    case 'landing': this.landing = true; break;
                    case 'promo': this.promo = true; break;
                    case 'corporate': this.corporate = true; break;
                    default:
                        return;
                        break;
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../../styles/general/variables.scss';
    @import '../../../styles/general/imagehover.min.css';
    @import "../../../styles/general/hoverEffect.scss";

    ._posa {
        position: absolute;
    }

    .portfolio {
        background-color: #4527a0;
    }

    .portfolio-description {
        margin-top:250px;
        display: inline-block;
        float: left;
        width: 30%;
    }

    .article {
        text-align: left;
        h4 {
            font-size:14px;
            line-height: 18px;
            margin: 0;
            letter-spacing:0.05em;
            color: white;
            font-family: $highlight-font;
            &:after {
                content: '';
                display: block;
                margin-top:10px;
                width: 40px;
                height: 1px;
                background-color: white;
            }
        }
        h2 {
            pointer-events: none;
            font-size:20px;
            line-height:24px;
            font-weight: 300;
            font-family:$highlight-font;
            color: white;
            margin: 35px 0 0 0;
        }
        h3 {
            margin: 40px 0 0 0;
            font-size: 16px;
            font-weight:300;
            font-family:$text-font;
            line-height:1.5;
            color: white;
            a {
                color: white;
                transition: all 0.4s;
                &:active,&:hover {
                    color: #F03677;
                    transition: all 0.4s;
                }
            }
        }
    }
    .portfolio-works {
        float: right;
        display: inline-block;
        margin-top:100px;
        height: 650px;
        background-color: white;
        position: relative;
        width:66%;
        overflow: hidden;
    }
    .portfolio-works-filter {
        display: inline-block;
        margin-bottom:10px;
        width: 100%;
        text-align: center;
        h6 {
            color: #424242;
            font-family:$text-font;
            font-size:14px;
            line-height: 16px;
            font-weight:400;
            margin: 50px 0 0 0;
        }
        button {
            border: none;
            outline: none;
            cursor: pointer;
            margin-top:15px;
            font-size:18px;
            line-height:24px;
            background-color: transparent;
            color: #a3aaaa;
            &:hover,&:active {
                color: #212121;
                transition: all 0.5s;
                text-decoration: underline;
            }
        }
        button._active {
            text-decoration: underline;
            color: #212121;
        }
    }
    .works {
        overflow: scroll;
        text-align: center;
        height:550px;
    }
    .work-block {
        display: inline-block;
        width: 45%;
        overflow: hidden;
        float: left;
        max-width: 345px;
        margin-bottom:10px;
        max-height: 250px;
        &:nth-child(odd) {
            margin-left:3%;
            margin-right:5px;
        }
        &:nth-child(even) {
            margin-right:3%;
            margin-left: 5px;
        }
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    @import '../../../styles/general/imagehover.min.css';
    @import '../../../styles/general/hoverEffect.scss';
    @media screen and (max-width: 450px) {
        .portfolio {
            height: auto;
        }
        .portfolio-description {
            width: 100%;
            float: none;
            margin-top:50px;
        }
        .works {
            height: 700px;
        }
        .portfolio-works {
            margin-top:50px;
            height: 800px;
            width: 100%;
            float: none;
            &:after {
                content: '';
                display: block;
                height: 50px;
            }
        }
        .work-block {
            margin-top:15px;
            width: 90%;
            float: none;
            /*&:nth-child(odd) {*/
                /*margin-left:auto;*/
                /*margin-right:auto;*/
            /*}*/
            /*&:nth-child(even) {*/
                /*margin-right:auto;*/
                /*margin-left: auto;*/
            /*}*/
            img {
                max-width:90%;
                max-height: 90%;
            }
        }

        [class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption {
            padding: 10px;
            h3 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    @media screen and (max-width: 380px) {
        .portfolio-works-filter {
            button {
                font-size:14px;
                line-height:22px;
            }
        }

        [class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption {
            padding: 5px;
        }
    }

</style>