<template>
    <div class="wrapper">
        <app-intro></app-intro>
        <app-about></app-about>
        <app-technologies></app-technologies>
        <app-portfolio></app-portfolio>
        <app-services></app-services>
        <app-contact></app-contact>
        <app-footer></app-footer>
        <app-enquireForm></app-enquireForm>
    </div>
</template>

<script>
    import Intro from './Intro/Intro.vue';
    import About from './About/About.vue';
    import Technologies from './Technologies/Technologies.vue';
    import Portfolio from './Portfolio/Portfolio.vue';
    import Services from './Services/Services.vue';
    import Contact from './Contact/Contact.vue';
    import Footer from '../Footer/Footer.vue';
    import EnquireForm from '../EnquireForm/EnquireForm.vue';

    export default {
        data() {
            return {
            }
        },
        components: {
            appIntro: Intro,
            appAbout: About,
            appTechnologies: Technologies,
            appPortfolio: Portfolio,
            appServices: Services,
            appContact: Contact,
            appFooter: Footer,
            appEnquireForm: EnquireForm
        },
    }
</script>

<style lang="scss">

</style>