<template>
    <div class="header">
        <div class="container">
                <div class="header-nav">
                    <div class="header-row">
                        <ul>
                            <li><a href="/"><img src="../../assets/general/magic_cube.png" alt="logo"></a></li>
                            <router-link to="/" tag="li" exact><a>Home</a></router-link>
                            <router-link to="/portfolio" tag="li" exact><a>Portfolio</a></router-link>
                            <router-link to="/blog" tag="li" exact><a>Blog</a></router-link>
                            <router-link to="/#Contact" tag="li" exact><a>Contact</a></router-link>
                        </ul>
                        <div class="header-enquire-button">
                            <button @click="revealEnquireForm">Order Website</button>
                        </div>
                    </div>
                </div>
            <transition
                    appear
                    enterActiveClass="animated slideInLeft"
                    leaveActiveClass="animated slideOutLeft">
            <div class="mobileSideNav" v-if="mobileNavigationIsVisible">
                <span class="sideHideButton" @click="hideSideNav">&times;</span>
                <ul>
                    <router-link to="/" tag="li" exact><a @click="hideSideNav"><img src="../../assets/general/magic_cube.png" alt="logo"></a></router-link>
                    <router-link to="/" tag="li" exact><a @click="hideSideNav">Home</a></router-link>
                    <router-link to="/portfolio" tag="li" exact @click="hideSideNav"><a>Portfolio</a></router-link>
                    <router-link to="/blog" tag="li" exact @click="hideSideNav"><a>Blog</a></router-link>
                    <router-link to="/#Contact" tag="li" exact @click="hideSideNav"><a>Contact</a></router-link>
                </ul>
            </div>
            </transition>
            <div class="mobile-nav clearfix">
                <span class="sideRevalButton" @click="showSideNav">&#9776;</span>
                <button @click="revealEnquireForm">Order Website</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                mobileNavigationIsVisible: false,
            }
        },
        methods: {
            showSideNav() {
                this.mobileNavigationIsVisible = true;
            },
            hideSideNav() {
                this.mobileNavigationIsVisible = false;
            },
            revealEnquireForm() {
                this.$store.commit('revealEnquireForm')
            }
        },
        watch: {
            '$route'(to,from) {
                this.mobileNavigationIsVisible = false;
            }
        }
    }

</script>

<style lang="scss">
    @import '../../styles/general/variables.scss';

    .header-row {
        line-height:50px;
        position: relative;
    }
    .header-enquire-button {
        line-height: 90px;
        height: 100%;
        float: right;
        button {
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
            border: 1px solid #4a148c;
            color: #4a148c;
            font-size: 13px;
            padding: 12px 24px;
            line-height: 18px;
            text-transform: uppercase;
            cursor: pointer;
            background-color: #fff;
            &:hover, &:active {
                background-color: #4a148c;
                color: white;
            }
        }
    }
    .header {
        background-color: white;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: auto;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        button {

        }
    }

    .header-nav {
        padding-top: 10px;
        ul {
            padding:0;
            height: 90px;
            margin: 0;
            list-style: none;
            display: inline-block;
            font-family: $highlight-font;
            line-height: 90px;
            li {
                padding: 0;
                display: inline-block;
                line-height: 90px;
                font-size: 13px;
            }
            a {
                cursor: pointer;
                padding: 15px 25px;
                text-decoration: none;
                color: #424242;
                -webkit-transition: box-shadow .2s ease-out;
                transition: box-shadow .2s ease-out;
                &:hover,&:active {
                    text-decoration: underline;
                    -webkit-transition: box-shadow .2s ease-out;
                    transition: box-shadow .2s ease-out;
                }
            }
        }
    }
    .router-link-active {
        text-decoration: underline;
        -webkit-transition: box-shadow .2s ease-out;
        transition: box-shadow .2s ease-out;
    }

    .mobileSideNav {
        /*display: none;*/
        height: 100%;
        width: 70%;
        position: fixed;
        z-index:1;
        top: 0;
        left: 0;
        background-color: #311b92;
        overflow-x: hidden;
        padding-top:100px;
        > ul {
            padding: 0;
            list-style: none;
        }
        li {
            display: block;
            font-size: 35px;
            font-family:$text-font;
            font-weight: 300;
        }
        a {
            display: block;
            padding: 15px 50px 15px 50px;
            text-decoration: none;
            color: white;
        }
    }
    .sideHideButton {
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 50px;
        line-height:50px;
        color: white;
        cursor: pointer;
    }

    .mobile-nav {
        display: none;
        background-color: white;
        line-height: 30px;
        padding: 30px;
        position: fixed;
        > span {
            font-size: 30px;
            cursor: pointer;
        }
        > button {
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
            border: 1px solid #4a148c;
            color: #4a148c;
            float: right;
            font-size: 13px;
            padding: 12px 24px;
            line-height: 18px;
            text-transform: uppercase;
            cursor: pointer;
            background-color: #fff;
            &:hover,&:active {
                background-color: #4a148c;
                color: white;
            }
        }
    }

    ._shown {
        display: block;
    }

    @media screen and (max-width: 450px) {
        .header-nav {
            display: none;
        }
        .header {
            height: 0;
        }
        .mobile-nav {
            padding: 20px;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: auto;
            width: 100%;
        }
    }
    @media screen and (max-width: 380px) {
        .mobileSideNav {
            padding-top: 70px;
            li {
                font-size: 30px;
            }
            a {
                padding: 10px 40px 10px 40px;
            }
        }
        .mobile-nav {
            padding: 15px;
            > button {
                font-size: 13px;
                padding: 8px 10px;
                line-height: 15px;
            }
        }
        .sideHideButton {
            top: 30px;
            right: 30px;
            font-size: 30px;
            line-height: 30px;
        }
    }


</style>
