<template>
    <div class="wrapper">
        <p>Your email is - {{$store.getters.user.email}}</p>
        <button @click="signOut">Sign out</button>
    </div>
</template>

<script>
    import { firebaseApp } from '../../firebaseApp.js'
    export default {
        data() {
            return {

            }
        },
        methods: {
            signOut() {
                this.$store.dispatch('signOut');
                firebaseApp.auth().signOut();
                this.$router.push('/auth');
            }
        },
        created() {
            if(!this.$store.state.userIsLoggedIn) {
                this.$router.push('/auth')
            }
        }
    }
</script>

<style lang="scss">

</style>