<template>
    <div class="footer">
        <div class="container">
            <div class="footer-row clearfix">
                <p>WEBSITE IS BEING DEVELOPED</p>
                <ul class="clearfix">
                    <li>
                        <a href="#Intro" class="_arrow">&uarr;</a>
                    </li>
                    <li>
                        <h6>Odessa, Ukraine</h6>
                    </li>
                    <li>
                        <a  class="_clickable" href="mailto:kopytkoartem@gmail.com">
                            <h5>kopytkoartem@gmail.com</h5>
                        </a>
                    </li>
                </ul>
                <!--TODO: FEEDBACK-->
                <!--<span>Feedback</span>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped lang="scss">
    $text-font: Roboto, sans-serif;
    $highlight-font: Roboto Mono, monospace;

    .footer {
        background-color: black;
    }
    .footer-row {
        display: inline-block;
        width: 100%;
        margin: 40px 0;
        height:60px;
        p {
            float: left;
            margin: 0;
            font-size: 28px;
            line-height: 60px;
            font-family:$text-font;
            font-weight: 200;
            display: inline-block;
            color: white;
        }
        ul {
            float: right;
            padding: 0;
            color: white;
            list-style: none;
            display: inline-block;
        }
        li {
            &:last-child {
                margin-right: 0;
            }
            display: inline-block;
            padding: 5px 10px;
            line-height: 60px;
            float: left;
            text-transform: uppercase;
            font-family:$text-font;
            font-weight:700;
            margin:0 50px 0 0;
            color: white;
            h5,h6 {
                margin: 0;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
        //TODO: FEEDBACK
        span {
            float: right;
            color: hsla(0,0%,100%,.7);
            cursor: pointer;
            font-family:$text-font;
            font-size: 14px;
            line-height:60px;
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
            &:hover,&:active {
                color: white;
            }
        }
    }
    @media screen and (max-width: 450px){
        .footer-row {
            margin: 40px 0;
            height:auto;
            p {
                display: block;
                float: none;
                margin: 0;
                font-size: 24px;
                line-height: 40px;
            }
            ul {
                margin-top: 10px;
                display: block;
                float: none;
            }
            li {
                &:last-child {
                    margin-right: 0;
                }
                font-size:12px;
                margin:0 10px 0 0;
            }
            //TODO: FEEDBACK
            span {
                float: right;
                color: hsla(0,0%,100%,.7);
                cursor: pointer;
                font-family:$text-font;
                font-size: 14px;
                line-height:60px;
                -webkit-transition: color .2s ease;
                transition: color .2s ease;
                &:hover,&:active {
                    color: white;
                }
            }
        }
    }
    @media screen and (max-width: 380px) {
        .footer-row {
            margin: 20px 0;
            p {
                font-size: 20px;
                line-height: 30px;
            }
            ul {
                margin-top: 10px;
            }
            li {
                line-height: 30px;
                font-size:12px;
                margin:0 10px 0 0;
                ._clickable {
                    font-size: 10px;
                }
            }
            //TODO: FEEDBACK
            span {
                float: right;
                color: hsla(0,0%,100%,.7);
                cursor: pointer;
                font-family:$text-font;
                font-size: 14px;
                line-height:60px;
                -webkit-transition: color .2s ease;
                transition: color .2s ease;
                &:hover,&:active {
                    color: white;
                }
            }
        }
    }
</style>