<template>
    <div class="wrapper">
        <div class="blog-content">
            <div class="container">
                <div class="blog-post clearfix">
                    <div class="blog-post-title"></div>
                    <div class="blog-post-body">There is nothing redundant. Just useful articles.</div>
                </div>
                <article class="blog-post clearfix" v-for="(post, index) in posts" :key="index">
                    <div class="blog-post-title">{{post.title}}</div>
                    <div class="blog-post-body">{{printBeggining(post)}}
                        <div class="blog-post-extend" v-if="post.extendible">
                              <div class="blog-post-extend-cross" :class="{extended: post.extended}" @click="post.extended = !post.extended;"></div>
                        </div>
                        <div v-if="post.extended">{{printEnding(post)}}</div>
                    </div>
                </article>
            </div>
        </div>
        <app-enquireForm></app-enquireForm>

    </div>
</template>

<script>
    import EnquireForm from '../EnquireForm/EnquireForm.vue';
    export default {
        components: {
            appEnquireForm: EnquireForm
        },
        data() {
            return {
                posts:[
                    {
                        title: 'How to set up Vue.js blog?',
                        content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda at deleniti harum id laborum officia perferendis porro repellat sequi? At eaque enim id provident qui sunt ut? Amet, quo.',
                        author: 'Artem Kopytko',
                        date: '1.06.2017',
                        extendible: false,
                        extended: false
                    },
                    {
                        title: 'What is SCSS',
                        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid commodi, consequatur deserunt dolores et eveniet facilis, illo labore magni nemo non quas suscipit. Cumque eveniet incidunt ipsam minima quisquam reprehenderit rerum voluptatem voluptatum! Accusantium, alias animi asperiores assumenda consequatur consequuntur culpa cum dicta, dignissimos dolores ducimus enim eveniet hic illum ipsa minima minus molestias nihil officiis pariatur quaerat quis quos recusandae repudiandae similique suscipit tenetur voluptas! Amet culpa cum excepturi fuga magni nam, reprehenderit rerum. Architecto assumenda commodi debitis dignissimos exercitationem illo nihil obcaecati quidem veniam voluptate! Ab accusamus alias aliquam aperiam consequuntur cum distinctio eaque eligendi eum fugiat fugit itaque labore laborum, maxime minima nesciunt officiis pariatur praesentium quas quidem quos ratione rem repellendus soluta tempore voluptatibus voluptatum. Expedita fugiat id ipsa laborum modi molestiae pariatur quis recusandae rem suscipit. Accusamus atque, corporis dignissimos dolorum est excepturi facilis fugit, id maiores nesciunt nisi non obcaecati odio placeat quas quia quos similique ullam veniam vitae! Adipisci, dolores esse exercitationem fugiat illo illum in praesentium quaerat quam, quo quod rerum sapiente, vero! Alias animi atque consequuntur culpa cum dignissimos distinctio dolorem, doloribus dolorum ea earum enim est eveniet explicabo illum ipsam libero magnam minima minus nesciunt nihil obcaecati omnis porro possimus praesentium qui quidem quod recusandae reiciendis, sequi sunt, suscipit tempora ullam unde veritatis voluptatibus voluptatum? Dolorem expedita harum ut? Aliquid beatae blanditiis commodi cum debitis est maiores, minus molestiae officiis possimus quae quibusdam, ratione sunt unde ut veniam voluptas! Ab ad alias assumenda aut beatae blanditiis commodi debitis doloremque, dolorum eum exercitationem facilis illum ipsam maxime molestiae necessitatibus officia perferendis perspiciatis placeat provident quas quasi quibusdam ratione reiciendis repellendus totam veritatis vitae. Aliquam consequuntur cupiditate dolor dolores doloribus earum eius eos explicabo fugiat fugit impedit, in ipsa iure laboriosam minus molestias, mollitia pariatur perferendis possimus sunt ullam voluptate voluptatibus. Dignissimos earum eveniet harum hic, ipsam minima minus molestias neque, nulla possimus unde vel, vitae voluptate? At atque consectetur consequatur cumque, cupiditate, dicta eum, eveniet excepturi explicabo harum laboriosam laborum laudantium molestiae nesciunt nihil quis repellendus sint sit veritatis voluptates? Alias autem ex, facilis illo incidunt, laborum minus mollitia nemo provident quae quam quis, quo sapiente sequi ut vel voluptate voluptatibus. Dolore fugiat itaque nulla quod voluptatum. Architecto, beatae ea eligendi eum, expedita facilis inventore modi nostrum obcaecati pariatur, perferendis quos rerum sapiente sequi tempora tempore ut. Asperiores cum dolor dolore esse fugit incidunt minus molestiae necessitatibus, quas sapiente. Ad culpa dicta dignissimos ex facilis id impedit, itaque laborum libero natus non perferendis quas quasi quibusdam quisquam sunt veniam voluptatum. A aliquam, aspernatur commodi consectetur, consequatur eum expedita illum inventore mollitia nam necessitatibus nemo nobis nulla obcaecati omnis praesentium reprehenderit vero voluptas! Beatae corporis cum cupiditate dicta est, exercitationem laudantium magnam nam neque officiis quasi recusandae sunt suscipit voluptas voluptatem! Architecto at consequuntur dolorem dolorum eligendi fugit, nemo quasi quis quos sit! Aperiam consequuntur cumque exercitationem fuga iste numquam perferendis praesentium repudiandae soluta, ut. Amet architecto consequatur debitis dicta dolor doloribus eos error eum exercitationem ipsa, ipsam minus mollitia nam nemo nihil nostrum quo reiciendis rem repellat reprehenderit, suscipit, ullam ut voluptatibus? Architecto, deleniti deserunt dolores enim eos, esse, expedita facere ipsam itaque molestias officia pariatur perferendis praesentium quas quo ratione reiciendis saepe sapiente velit voluptas. Accusamus ad asperiores aspernatur at beatae distinctio dolor doloribus ducimus earum eos error est ex expedita facere harum hic incidunt itaque laboriosam magnam minima nam nemo neque nihil nisi quibusdam quisquam quod recusandae repellat, repellendus repudiandae saepe sequi sunt tempore velit veritatis voluptatibus voluptatum. Ab animi assumenda at aut consequatur cum delectus dicta dignissimos distinctio dolore eligendi enim et excepturi fugit hic id impedit in incidunt ipsum iusto laboriosam magni molestiae molestias nesciunt nulla, numquam odio odit optio provident quis recusandae reprehenderit sint soluta totam velit vitae voluptates! Aperiam beatae commodi deleniti deserunt dicta earum enim eos ex facere id inventore magnam modi, nulla perspiciatis quos sint soluta suscipit vero voluptas voluptate. A debitis dolores doloribus harum itaque magni optio perspiciatis, placeat sit voluptate. Asperiores deserunt dolorem doloremque exercitationem fugiat magni, nobis officiis porro quod soluta tempore ut vitae voluptatum! Aliquid commodi debitis deserunt dignissimos distinctio eaque id illo ipsam nobis numquam quidem quis, quod repudiandae sequi, similique, ut voluptate. Consectetur corporis debitis dolorem exercitationem, fugit hic labore nemo nihil ratione sapiente sequi similique, velit voluptatibus. Amet aperiam consequuntur, corporis cum cupiditate delectus facilis harum labore laboriosam maxime minus natus nihil nobis officiis quidem sint velit. Aliquid eius eligendi excepturi maxime quae quam quisquam quod soluta voluptatum. Ad dolor fugit id magnam quisquam voluptate voluptates? Dolorem ea itaque odit similique sit? Ab alias autem dicta dignissimos distinctio doloremque doloribus eaque est, eveniet facilis fuga in inventore labore laborum magni maiores modi, officia pariatur quaerat quod ratione rerum temporibus totam veniam, vitae voluptatem voluptates voluptatum. Accusamus asperiores blanditiis distinctio dolore dolores doloribus, dolorum illum ipsum laboriosam minus nostrum odit, officia perspiciatis quas quisquam recusandae repellat reprehenderit repudiandae saepe sed sunt tempora voluptatibus! Animi consectetur delectus ipsum nam, officia repellat suscipit! Accusamus aperiam architecto aspernatur blanditiis doloribus et illum labore libero molestias natus nemo perspiciatis placeat provident repellendus, reprehenderit soluta vero. Eveniet id, nihil odio placeat saepe sed vel. Accusamus aliquam, cumque dicta dolores enim ex iure magni modi nam optio perferendis quaerat quibusdam repellendus veniam vero. Accusantium asperiores at, dolor dolores earum facilis fuga fugit ipsa ipsam iste laborum molestiae nihil odit officiis omnis porro praesentium quidem quis, quisquam quod quos recusandae sed sequi totam ullam? Accusantium cumque, veritatis. Commodi iusto nam nostrum obcaecati officiis perferendis repellendus sapiente tempora voluptatibus? Ab ad, alias aspernatur at debitis delectus dicta dignissimos distinctio enim eos est fugiat labore laudantium minima natus, nulla placeat quo rem repudiandae voluptate. A accusamus dignissimos ducimus eaque facilis fugit, inventore nisi, numquam odit quam qui quo tempora voluptate. Alias animi dolor dolores, ducimus eaque eos libero nam nihil, nisi possimus quae quaerat quasi, quia quis temporibus. Alias aliquam atque cum eius eum eveniet expedita facilis iste minus molestias nemo odio officia porro quas quibusdam, quos reprehenderit similique totam vel velit veniam veritatis voluptatibus!',
                        author: 'Artem Kopytko',
                        date: '1.06.2017',
                        extendible: false,
                        extended: false
                    },
                    {
                        title: 'How to use firebase?',
                        content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem, corporis ipsam quod tempora voluptate? Asperiores blanditiis consequatur, eaque fugit iure iusto natus nulla odit quae qui similique sunt voluptatem?Aperiam harum minima molestias qui quia quos voluptatibus voluptatum? Alias aperiam ea error incidunt tempora? Adipisci cumque dolor explicabo inventore recusandae rerum sunt tenetur vitae. Alias impedit iste laboriosam rem!',
                        author: 'Artem Kopytko',
                        date: '1.06.2017',
                        extendible: false,
                        extended: false
                    }
                ]
            }
        },
        methods: {
            printBeggining(article) {
                let articleContent = article.content;
                if (articleContent.length >= 200 ) {
                    article.extendible = true;
                    return articleContent.substr(0,200);
                } else {
                    return articleContent;
                }
            },
            printEnding(article) {
                let articleContent = article.content;
                return articleContent.substr(200,Infinity)
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/general/variables.scss';
    .blog-content {
        margin-top:120px;
    }
    .blog-post {
        font-weight: 300;
        color: #222222;
        font-size:1.5em;
        position: relative;
        width: 80%;
        margin: 10px auto;
    }
    .blog-post-title {
        float: left;
        width: 50%;
        display: inline-block;
    }
    .blog-post-body {
        float: right;
        width: 50%;
        display: inline-block;
    }
    .blog-post-extend {
        display: block;
        color: #999999;
    }
    .blog-post-extend-cross {
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin: 10px 0 0 10px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        &:hover {
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
        &:before,&:after {
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: #d7d5ca;
        }
        &:before {
            transform: rotate(90deg);
        }
        &:after {
            transform: rotate(180deg);
        }
    }
    .extended {
        &:hover {
            &::before {
                transform: rotate(90deg);
            }
            &::after {
                transform: rotate(180deg);
            }
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
</style>