<template>
        <div id="app">
            <!--<app-loader v-if="!this.$store.state.pageIsLoaded"></app-loader>-->
            <keep-alive >
                <app-header v-if="headerStatus"></app-header>
            </keep-alive>
            <keep-alive>
                <transition
                        mode="out-in"
                        :enterActiveClass="transitionName">
                    <!--enterActiveClass="animated fadeInLeft"-->
                    <router-view></router-view>
                </transition>
            </keep-alive>
        </div>
</template>

<script>
import { scrollFunc } from './scripts/headerHandler.js'
import 'jquery'
import { smoothScroll } from './scripts/SmoothScroll.js'
import Header from './components/Header/Header.vue'

export default {
    data() {
        return {
            transitionName: 'animated slideInLeft',
            headerStatus: false
        }
    },
    watch: {
        '$route' (to, from) {
            const fromLink = from.path;
            const toLink = to.path;
            if((toLink === '/dashboard' && (fromLink === '/auth' || fromLink === '/signup'))) {
                this.transitionName = 'animated slideInUp _posa';
            } else if ((toLink === '/' && fromLink === '/portfolio') ||
                (toLink === '/portfolio' && fromLink === '/blog')) {
                this.transitionName = 'animated slideInRight _posa';
            } else if ((toLink === '/auth' && fromLink === '/dashboard')){
                this.transitionName = 'animated slideInDown';
            } else {
                this.transitionName = 'animated slideInLeft';
            }
            if (toLink === '/' || toLink === '/portfolio' || toLink === '/blog') {
                this.headerStatus = true;
            } else {
                this.headerStatus = false;
            }
        }
    },
    created() {
        if (this.$route.path === '/' ||
            this.$route.path === '/portfolio'
            || this.$route.path === '/blog'
        ) {
            this.headerStatus = true;
        }
    },
    components: {
        appHeader: Header,
    }
}
</script>

<style lang="scss">

    * {
        box-sizing: border-box;
    }

    body,html {
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
        transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
        transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        animation: none;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
        transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
        transition: all 0.3s 1s ease-out;
    }

    .container {
        width: 1170px;
        margin: 0 auto;
        position: relative;
        max-width: 95%;
    }
</style>
