<template>
    <div class="technologies full-page">
        <div class="container">
            <div class="technology">
                <div class="technology-content">
                    <h5>creating</h5>
                    <h3>
                        <i></i>
                        <strong>Responsive Design</strong></h3>
                </div>
            </div>
            <div class="technology">
                <div class="technology-content">
                    <h5>writing</h5>
                    <h3>
                        <i></i>
                        Clear</h3>
                    <h5>code</h5>
                </div>
            </div>
            <div class="technology">
                <div class="technology-content">
                    <h5>I am using</h5>
                    <h3>
                        <i></i>
                        <strong>html5</strong> + <strong>css3</strong> + <strong>js</strong></h3>
                </div>
            </div>
            <div class="technology">
                <div class="technology-content">
                    <h5>admirable</h5>
                    <h3>
                        <i></i>
                        Beautiful</h3>
                    <h5>animations</h5>
                </div>
            </div>
            <div class="technology">
                <div class="technology-content">
                    <h5>modern</h5>
                    <h3>
                        <i></i>
                        <strong>Vue.js</strong></h3>
                    <h5>framework</h5>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">
    @import '../../../styles/general/variables.scss';

    .technologies {
        background-color: #6200ea;
        text-align: center;
    }

    .technology {
        &:first-child {
            margin-top: 100px;
        }
        text-align: left;
        display: inline-block;
        width:100%;
        height: 100px;
        line-height: 100px;
        background: none;
        position: relative;
        border-bottom:1px solid #272727;
        transition:color 0.4s ease;
        &:hover:before, &:active:before {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            z-index: 256;
            top: -1px;
            left: 0;
            background-color: #6200ea;
        }
        &:after {
            position: absolute;
            content: '';
            top:0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #F03677;
            transform-origin:left;
            transition:width 0.4s ease;
            z-index:1;
        }
        &:hover:after,&:active:after {
            width: 100%;
        }

        &:hover,&:active {
            i {
                display: none;
            }
        }
    }
    .technology-content {
        margin: 0 120px;
        h5 {
            display: inline-block;
            font-size:16px;
            line-height: 24px;
            z-index: 10;
            color: white;
            position: relative;
        }
        strong {
            font-weight: 200;
        }
        h3 {
            pointer-events: none;
            display: inline-block;
            font-size:50px;
            position: relative;
            font-family:Roboto,sans-serif;
            font-weight: 200;
            text-transform: uppercase;
            margin: 0 50px 0 50px;
            z-index: 10;
            color: white;
            i {
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: white;
            }
        }
    }
    @media screen and (max-width: 450px) {
        .technologies {
            height: auto;
        }
        .technology {
            &:first-child {
                margin-top:50px;
            }
            &:last-child {
                margin-bottom:50px;
            }
            line-height: 50px;
            height: 50px;
        }
        .technology-content {
            margin: 0 20px;
            h5 {
                font-size: 14px;
                line-height:50px;
                margin: 0px;
            }
            h3 {
                line-height: 50px;
                font-size: 25px;
                margin: 0 20px 0 20px;
            }
        }
    }
    @media screen and (max-width: 380px) {
        .technology {
            &:first-child {
                margin-top:35px;
            }
            &:last-child {
                margin-bottom:35px;
            }
        }
        .technology-content {
            margin: 0 20px;
            h5 {
                font-size:10px;
            }
            h3 {
                font-size: 18px;
                margin: 0 10px 0 10px;
            }
        }
    }

</style>