<template>
    <div class="wrapper bgd">
        <div class="container tac">
            <div class="signin">
                <h3>Sign In</h3>
                <div class="signin-form">
                    <input
                            type="text"
                            placeholder="email"
                            class="singing-form-input"
                            v-model="email">
                    <input
                            type="password"
                            placeholder="password"
                            class="singing-form-input"
                            v-model="password">
                    <button class="signin-forn-button" @click="signIn">Sign In</button>
                </div>
                <p class="signin-text" @click="$router.push('/signup')">Don't have an account? Sign up!</p>
                <br>
                <p>{{error.message}}</p>
                <br>
            </div>
        </div>
    </div>
</template>

<script>
    import { firebaseApp } from '../../firebaseApp.js'
    export default {
        data() {
            return {
                email: '',
                password: '',
                error: {
                    message: ''
                }
            }
        },
        methods: {
            signIn() {
                firebaseApp.auth().signInWithEmailAndPassword(this.email,this.password)
                    .then(firebaseUser => {
                        this.$store.dispatch('loggedIn',firebaseUser);
                        this.$router.push('/dashboard');
                    })
                    .catch(error => {
                        this.error = error;
                    });

            },
        }
    }
</script>

<style lang="scss">
    .bgd {
        background-color: #232323;
    }
    .tac {
        text-align: center;
    }
    .signin {
        display: inline-block;
        height: 100vh;
        min-height:500px;
        background-color: #fff;
        width: 50%;
        h3 {
            margin-top:50px;
            font-size: 44px;
            font-family:Roboto;
        }
    }
    .signin-form {
        input {
            display: block;
            margin: 0 auto 20px auto;
            width: 66%;
            height: 50px;
            padding-left: 10px;
        }
        button {
            padding: 15px 10px;
            cursor: pointer;
        }
    }
    .signin-text {
        cursor: pointer;
        color: lightblue;
        &:hover {
            color: darkblue;
        }
    }

</style>