@import 'variables';
[class*=' imghvr-'], [class^=imghvr-] {
  background-color: transparent;
  figcaption {
    font-family:$text-font;
    background-color: papayawhip;
    color: #212121;
  }
}
figure  {
  p {
    padding-bottom: 5px;
  }
  h3 {
    color: #212121 !important;
    font-weight: 300;
    padding-bottom: 5px;
    font-size:1.4em;
    line-height:1.4em;
  }
}

[class^='imghv-'] .ih-fade-up {
  -webkit-transform: translate(0, 25px);
  -moz-transform: translate(0, 25px);
  -ms-transform: translate(0, 25px);
  -o-transform: translate(0, 25px);
  transform: translate(0, 25px);
}

[class^="imghvr-"] a.button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 150;
  background-color: transparent;
  border: 1px solid #212121;
  color: #212121;
  margin: 0.7em 0;
  padding: 5px 18px;
  border-radius: 0;
  transition:all 0.5s;
  &:hover,&:active {
    background-color: #212121;
    color: white;
  }
}

[class^='imghvr-']:hover .ih-delay-lg, [class*=' imghvr-']:hover .ih-delay-lg {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s; }

