$text-font: Roboto, sans-serif;
$highlight-font: Roboto Mono, monospace;

.full-page {
  width: 100%;
  height: 750px;
}

.short-page {
  width: 100%;
  height: 565px;
}

._clickable {
  cursor: pointer;
  transition: all 0.5s;
  &:hover,&:active {
    color: #F03677;
    transition: all 0.5s;
  }
}

._arrow {
  max-width:35px;
  color: white;
  display: inline-block;
  margin-left: -5px;
  font-weight:100;
  font-size:50px;
  cursor: pointer;
  text-decoration: none;
}


._row {
  text-align: left;
  display: inline-block;
  width:100%;
  height: 100px;
  line-height: 100px;
  background: none;
  position: relative;
  border-bottom:1px solid #272727;
  h5 {
    display: inline-block;
    font-size:16px;
    line-height: 24px;
    font-family:$text-font;
    z-index: 10;
    color: white;
    position: relative;
  }
  h3 {
    display: inline-block;
    font-size:50px;
    position: relative;
    font-family:$text-font,sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0 50px 0 50px;
    z-index: 10;
    color: white;
    i {
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: white;
    }
  }
}

.header-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-moz-keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
